@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply font-custom01 overflow-hidden bg-background-200 text-text-900 text-center
  }


  .container {
    @apply p-5 md:columns-2 lg:columns-4 columns-auto
  }

  .student {
    @apply bg-text-50 flex justify-between gap-4 mb-5 p-5 rounded-lg text-center
  }


  .big-img {
    @apply fixed bg-opacity-70 text-center pt-40 bg-text-900 w-screen h-screen
  }

  .nav-link {
    @apply lg:px-2 hover:text-accent-300 transition-colors duration-300
  }

  a.nav-link.active {
    @apply border-2 text-accent-500 rounded-lg;
  }

  .homepage {
    @apply text-2xl flex flex-col items-center justify-center h-screen mx-auto
  }
  .custom-button {
    margin-top: 20px;
    padding: 5px 20px;
    background-color: #4487bb; /* Default background color (500 level) */
    color: #ffffff; /* Default text color (highest level) */
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .custom-button:hover {
    background-color: #699fc9; /* Hover background color (400 level) */
    color: #ffffff; /* Hover text color (highest level) */
  }

  .footer {
    @apply fixed bottom-0 w-screen bg-background-700 text-text-400
  }

  .footer a {
    @apply text-text-100 px-4
  }
}